@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
    background-color: #ec5656;
    color: #ffffff;
    transition: background-image 0.5s;
}

.container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 50px;
    max-height: 100px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
    background-color: #000; /* Color de fondo de la barra */
}

.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_title{
    font-weight: 300;
    font-size: 28px;
    color: #fff;
    text-decoration: none;
}

.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav_items{
    list-style: none;
}

.nav_links{
    color: #fff;
    text-decoration: none;
}

.nav_logo {
    display: flex;
    align-items: center;
    gap: 1em;
}

.negrita {
    font-style: italic;
    /*text-decoration: underline;*/
    font-weight: bold;
}
/* ABOUT */

.about{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 0px;
}

.subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about_title{
    line-height: 1.7;
    margin: 0;
}

.about_paragraph{
    line-height: 1.7;
    margin: 0;
}

.about_main{
    padding-top: 80px;
    display: grid;
    width: 70%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about_icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about_icon{
    width: 40px;
}


/* Testimony */

.testimony{
    background-color: #ec5656;
    padding-top: 40px; /* Ajusta el espaciado superior */
    padding-bottom: 0px; /* Ajusta el espaciado inferior */
    text-align: center;
}

.subtitle_black{
    color: #fff;
    font-size: 2rem;
    margin-bottom: 25px;
}

.testimony_review{
    color: #fff;
}

.testimony_container{
    display: grid;
    grid-template-columns: 3vw 1fr 3vw;
    gap: 2em;
    align-items: center;
    padding: 0;
    padding-bottom: 50px;
}

.testimony_body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.testimony_body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony_img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony_texts{
    max-width: 1000px;
}

.testimony_course{
    background-color: rgb(158, 82, 82);
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.testimony_arrow{
    width: 90%;
    cursor: pointer;
}

.directiva {
    font-size: 28px;
    text-align: center;
    color: #ffffff; /* Color del texto */
}

/* Footer */

.footer{
    background-color: #151516;
    transition: background-image 0.5s;
}

.footer_title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer_title, .footer_newsletter{
    color: #fff;
}


.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
    margin: auto;
}

.nav_link--footer{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.footer_copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer_copyright{
    font-weight: 300;
}

.footer_icons{
    margin-bottom: 10px;
}

.footer_img{
    width: 30px;
}

.ubicacion{
    background-color: #151516;
    padding-top: 40px; /* Ajusta el espaciado superior */
    padding-bottom: 40px; /* Ajusta el espaciado inferior */
    text-align: center;
}
.maps-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
}
  
.map {
    padding: 10px;
}
  
iframe {
    width: 70%;
    height: 300px;
}
  
.map-title {
    margin-top: 0;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}

.cta{
    display: inline-block;
    background-color: #151516;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}
/* Questions */

.questions {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.questions__container{
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 120px;
    padding-right: 120px;
}

.questions__padding{
    padding: 0;
    transition: padding .3s;
    border: 2px solid #000000;
    border-radius: 6px;
}

.questions__padding--add{
    padding-bottom: 30px;
}

.questions__answer{
    padding: 0 30px 0;
    overflow: hidden;
}

.questions__title{
    text-align: left;
    display: flex;
    font-size: 24px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}

.questions__arrow{
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition:  transform .3s;
}

.questions__arrow--rotate{
    transform: rotate(180deg);
}

.questions__show{
    text-align: left;
    height: 0;
    overflow: hidden; /* Añade esto para ocultar el contenido que excede max-height */
    transition: height .3s;
}

.questions__img{
    display: block;
}

.questions__copy{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.collage {
    max-width: 1600px; /* Establece el ancho máximo que desees */
    margin: 0 auto; /* Centra el collage en la página */
    padding: 20px; /* Añade un margen interior */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px; /* Espacio entre las imágenes */
    margin-top: 40px;
  }
  
  .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width:800px){

    .nav_title {
        font-size: 2.5vw; /* Ajusta el tamaño de fuente en relación al ancho de la pantalla */
    }

    .nav_link {
        font-size: 1.8vw; /* Ajusta el tamaño de fuente en relación al ancho de la pantalla */
    }

    .about_main{
        gap: 2em;
    }

    .about_icons:last-of-type{
        grid-column: 1/-1;
    }

    .knowledge_container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge_picture{
        grid-row: 1/2;
        justify-self: center;
    }

    .knowledge_img{
        max-height: 500px;
        max-width: 500px;
    }

    .testimony_container{
        grid-template-columns: 3vw 1fr 3vw;
    }

    .testimony_body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items:center ;
    }


    .testimony_img{
        width: 200px;
        height: 200px;
        
    }

    .questions_copy{
        width: 100%;
    }

    .footer_container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center;
    }

    .nav_link--footer{
        width: 100%;
        font-size: 16px;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer_form{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer_input{
        flex: 1;
    }

    .questions__title{
        font-size: 2.5vw;
    }

    .questions__show{
        font-size: 2.5vw;
    }

    .about_paragraph{
        font-size: 2.5vw;
    }

    .subtitle_black{
        font-size: 2.5vw;
    }

    .testimony_review{
        font-size: 1.5vw;
    }
}

@media (max-width:600px){
    .nav_title {
        font-size: 2.5vw; /* Ajusta el tamaño de fuente en relación al ancho de la pantalla */
    }

    .nav_link {
        font-size: 1.8vw; /* Ajusta el tamaño de fuente en relación al ancho de la pantalla */
    }

    .hero_title{
        font-size: 2.5rem;
    }

    .about_main{
        gap: 2em;
    }

    .about_icons:last-of-type{
        grid-column: 1/-1;
    }

    .knowledge_container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge_picture{
        grid-row: 1/2;
        justify-self: center;
    }

    .knowledge_img{
        max-height: 500px;
        max-width: 500px;
    }

    .testimony_container{
        grid-template-columns: 3vw 1fr 3vw;
    }

    .testimony_body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items:center ;
    }


    .testimony_img{
        width: 200px;
        height: 200px;
        
    }

    .questions_copy{
        width: 100%;
    }

    .footer_container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center;
    }

    .nav_link--footer{
        width: 100%;
        font-size: 16px;
        justify-content: space-evenly;
        margin: 0;
    }

    .imagenes_todas{
        gap: 4em;
    }

    .footer_form{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer_input{
        flex: 1;
    }

    .questions__title{
        font-size: 2.5vw;
    }

    .questions__show{
        font-size: 2.5vw;
    }

    .about_paragraph{
        font-size: 2.5vw;
    }

    .subtitle_black{
        font-size: 2.5vw;
    }

    .testimony_review{
        font-size: 1.5vw;
    }
}

@media (max-width: 400px){
    .nav_title {
        font-size: 2.5vw; /* Ajusta el tamaño de fuente en relación al ancho de la pantalla */
    }

    .nav_link {
        font-size: 1.8vw; /* Ajusta el tamaño de fuente en relación al ancho de la pantalla */
    }

    .hero_title{
        font-size: 2.5rem;
    }

    .about_main{
        gap: 2em;
    }

    .about_icons:last-of-type{
        grid-column: 1/-1;
    }

    .knowledge_container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge_picture{
        grid-row: 1/2;
        justify-self: center;
    }

    .knowledge_img{
        max-height: 300px;
        max-width: 300px;
    }

    .testimony_container{
        grid-template-columns: 3vw 1fr 3vw;
    }

    .testimony_body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items:center ;
    }


    .testimony_img{
        width: 200px;
        height: 200px;
        
    }

    .questions_copy{
        width: 100%;
    }

    .footer_container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center;
    }

    .nav_link--footer{
        width: 100%;
        font-size: 16px;
        justify-content: space-evenly;
        margin: 0;
    }

    .imagenes_todas{
        gap: 4em;
    }

    .footer_form{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer_input{
        flex: 1;
    }

    .questions__title{
        font-size: 2.5vw;
    }

    .questions__show{
        font-size: 2.5vw;
    }

    .about_paragraph{
        font-size: 2.5vw;
    }

    .subtitle_black{
        font-size: 2.5vw;
    }

    .testimony_review{
        font-size: 1.5vw;
    }
}
