@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
    background-color: #ec5656;
    color: #ffffff;
    transition: background-image 0.5s;
}

.container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 50px;
    max-height: 100px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
    background-color: #000; /* Color de fondo de la barra */
}

.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_title{
    font-weight: 300;
    font-size: 28px;
    color: #fff;
    text-decoration: none;
}

.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav_items{
    list-style: none;
}

.nav_links{
    color: #fff;
    text-decoration: none;
}

.nav_logo {
    display: flex;
    align-items: center;
    gap: 1em;
}

.negrita {
    font-style: italic;
    /*text-decoration: underline;*/
    font-weight: bold;
}
/* ABOUT */

.about{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 0px;
}

.subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 75px;
}

.about_title{
    line-height: 1.7;
    margin: 0;
}

.about_paragraph_1{
    padding-left: 15px;
    line-height: 1.8;
    margin: 0;
    text-align: left;
    line-height: 3;
    font-size: 22px;
    padding-right: 20px;
    min-height: 216px;
}

.about_main{
    padding-top: 80px;
    display: grid;
    width: 70%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about_icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about_icon{
    width: 40px;
}

.bloque{
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    padding-bottom: 200px;
}

.about_paragraph_2{
    line-height: 1.7;
    margin: 0;
    text-align: left;
    padding-left: 10px;
    line-height: 3;
    font-size: 22px;
    min-height: 216px;
}
.iconos{
    line-height: 4;
}

/* Footer */

.footer{
    background-color: #151516;
    transition: background-image 0.5s;
}

.footer_title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer_title, .footer_newsletter{
    color: #fff;
}


.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
    margin: auto;
}

.nav_link--footer{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.footer_copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer_copyright{
    font-weight: 300;
}

.footer_icons{
    margin-bottom: 10px;
}

.footer_img{
    width: 30px;
}