@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
    background-color: #fa2929;
    color: #fff;
    transition: background-image 0.5s;
}

.container{
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}


/*NAV CONTAINER*/
.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_title{
    font-weight: 300;
    font-size: 28px;
    color: #fff;
    text-decoration: none;
}

.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav_items{
    list-style: none;
}

.nav_links{
    color: #fff;
    text-decoration: none;
}

.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_img{
    display: block;
    width: 30px;
}

.nav_close{
    display: var(--show,none);
}

.nav_logo {
    display: flex;
    align-items: center;
    gap: 1em;
}

/*HERO CONTAINER*/
.hero_container{
    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero_title{
    font-size: 3rem;
}

.hero_paragraph{
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    background-color: #2091F9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

/* ABOUT */

.about{
    text-align: center;
}

.subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about_title{
    line-height: 1.7;
    margin: 0;
}

.about_paragraph{
    line-height: 1.7;
    margin: 0;
}

.about_main{
    padding-top: 80px;
    display: grid;
    width: 70%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about_icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about_icon{
    width: 40px;
}

.imagenes_todas {
    padding-top: 80px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos para la clase 'about_icons' */
.imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
}

.imagen {
    width: 300%;
    max-height: 260px;
    object-fit: cover;
}
/* KNOWLEDGE */

.knowledge {
    background-color: #151516;
}

.knowledge_texts {
    background-color: #151516;
    text-align: center;
}

.knowledge_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
    align-items: center;
}

.knowledge_picture{
    max-width: 500px;
}

.knowledge_paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge_img{
    width: 150%;
    display: block;
}

/* Testimony */

.testimony{
    background-color: #151516;
}

.testimony_container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 8em;
    align-items: center;
}

.testimony_body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}


.testimony_body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony_img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony_texts{
    max-width: 700px;
}

.testimony_course{
    background-color: rgb(158, 82, 82);
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.testimony_arrow{
    width: 90%;
    cursor: pointer;
}

/* Footer */

.footer{
    background-color: #151516;
    transition: background-image 0.5s;
}

.footer_title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer_title, .footer_newsletter{
    color: #fff;
}


.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
    margin: auto;
}

.nav_link--footer{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.footer_copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer_copyright{
    font-weight: 300;
}

.footer_icons{
    margin-bottom: 10px;
}

.footer_img{
    width: 30px;
}

@media (max-width:800px){

    .nav_title{
        font-size: 20px;
    }

    .hero_title{
        font-size: 2.5rem;
    }

    .about_main{
        gap: 2em;
    }

    .about_icons:last-of-type{
        grid-column: 1/-1;
    }

    .knowledge_container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge_picture{
        grid-row: 1/2;
        justify-self: center;
    }

    .knowledge_img{
        max-height: 500px;
        max-width: 500px;
    }

    .testimony_container{
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony_body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items:center ;
    }


    .testimony_img{
        width: 200px;
        height: 200px;
        
    }

    .questions_copy{
        width: 100%;
    }

    .footer_container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center;
    }

    .nav_link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer_form{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer_input{
        flex: 1;
    }

}

@media (max-width:600px){
    .nav_title{
        font-size: 16px;
    }

    .nav_link{
        font-size: 12px;
    }

    .hero_title{
        font-size: 2.5rem;
    }

    .about_main{
        gap: 2em;
    }

    .about_icons:last-of-type{
        grid-column: 1/-1;
    }

    .knowledge_container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge_picture{
        grid-row: 1/2;
        justify-self: center;
    }

    .knowledge_img{
        max-height: 500px;
        max-width: 500px;
    }

    .testimony_container{
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony_body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items:center ;
    }


    .testimony_img{
        width: 200px;
        height: 200px;
        
    }

    .questions_copy{
        width: 100%;
    }

    .footer_container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center;
    }

    .nav_link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .imagenes_todas{
        gap: 4em;
    }

    .footer_form{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer_input{
        flex: 1;
    }

}
